@font-face{
    font-family: 'Cabin';
  src: url('https://fonts.googleapis.com/css2?family=Cabin&family=Lexend&family=Poppins:wght@500&family=Rubik:wght@500&display=swap');
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Lexend&family=Poppins:wght@500&family=Rubik:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EDEDED;
}

.sidebar{
    display: inline-flex;
    position: fixed;
    top: 24px;
    left: 24px;
    height: 592px;
    border-radius: 8px;
    width: 74px;
    flex-direction: column;
    align-items: center;
    background: #FFF;
}
  .bottom-logos{
    background-color:#E5252C;
    margin-top: 410px;
    padding: 8px;   
    border-radius: 10px;
    margin-left: 3px;
 }

.sidebar li {
    height: 44px;
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 8px;
    margin-bottom: 32px;
}
.sidebar .nav-logo{
    margin-left: 8px;
    margin-top: 20px;
}
.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar li .logos{
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    filter: invert(0%) sepia(95%) saturate(0%) hue-rotate(104deg) brightness(0%) contrast(104%);
}

.sidebar .image-text img {
    width: 16px;
    height: 20px;
    border-radius: 4px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

.sidebar .image{
    min-width: 32px;
    display: flex;
    align-items: center;
}
.search{
    margin-left: 345px;
    margin-top: 32px;
}
.search h2 {
    color: #60695C;
    font-family: "Cabin",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
    margin-bottom: 8px;
}
.search .searchbar {
padding: 8px 16px;
width: 475px;
height: 40px;
align-items: center;
gap: 8px;
align-self: stretch;
border-radius: 13px;
background: var(--ui-white, #FFF);
box-shadow: 0px 4px 16px 0px rgba(26, 31, 22, 0.15);
border: none;
font-size: 20px;
font-family: 'Cabin',sans-serif;
font-style: normal;
font-weight: 500;
line-height: normal;
color: rgba(26, 31, 22, 0.50);
}

.Product{
    margin-left: 146px;
    margin-top: 18px;
}
/* body
{
    width: 1440px;
    background: #EDEDED;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.Navbar{
    display: flex;    
    text-align: center;
    justify-content: space-between;
    width: 80px;
    margin: 16px;
    border-radius: 8px;
    background: var(--ui-white, #FFF);
}
.LogoMain{
    display: flex ;
    justify-content: center;
    align-items: start;
    text-align: center;
    border-radius: 4px;
    width: 40px;
}
ul li {
    text-decoration: none;
    list-style: none;
    margin-bottom: 32px;
}
.LogoMain ul li:nth-child(3){
    color: black;
    background-color: black;
    border-radius: 10px;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: var(--font-dark, #1A1F16);
}
.LogoMain img {
    width: 24px;
    height: 24px;
}
.Bottom-logo{
    margin: 660px 8px 8px 8px;
    background-color: #FFFFFF;
}
.Bottom-logo img {
    width: 24px;
    height: 24px;
}
.Bottom-exit{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    gap: 8px;
    border-radius: 10px;
background: var(--ui-danger, #E5252C);
} */